body{
    background-color: rgb(97 166 171);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 100vw;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.bars-container{
    display: flex;
    flex-direction: row;
    
}

.btn-container{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.toolbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

span + span {
    margin-left: 10px;
}

.bar{
    width: 15px;
    border: 2px solid rgb(41 27 37);
    margin: 0 1px;
    background-color: rgb(246 246 233);
}